# Django==1.9.7
# Heroku requirements
dj-database-url==0.4.2
gunicorn==19.7.1
psycopg2==2.7.3.1
whitenoise==3.3.1
# app requirement
# catcha
# django_cleanup
# imagekit
# Pillow

# temp
Flask==0.12.2
