@import url(https://fonts.googleapis.com/css?family=Lato);
.rentals-sec-1{
	background-size: cover;
	background-position: center;
	width: 100%;
	padding-top: 145px;
	transition: all 1s;
    -webkit-transition: all 1s;
	text-align: center;
	padding-bottom: 90px;
}
.rentals-sec-1 h1{
	width: 95%;
	max-width: 540px;
	margin: 0 auto;
	font-size: 72px;
	font-weight: 300;
	color: #ffffff;
	line-height: 84px;
	padding-bottom: 70px;
}
.rentals-sec-1 h1 span{
	font-weight: 700px;
}
.rentals-sec-1 a{
	display: block;
	max-width: 245px;
	width: 95%;
	margin: 0 auto;
	background-color: #003a86;
	color: #ffffff;
	line-height: 21px;
	font-size: 14px;
	border-radius: 10px;
	transition: all .3s;
    -webkit-transition: all .3s;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0;
}
.rentals-sec-1 a:hover{
	background: #022859;
}
.rentals-sec-1 a img{
	padding-left: 10px;
}
.rentals-sec-2{
	padding: 95px 0 60px 0;
	width: 93.3%;
	margin: 0 auto;
	max-width: 1274px;
}
.controls{
  color: #eee;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #bfbfbf;
  text-align: center;
  margin-bottom: 59px;
}
button{
  display: inline-block;
  padding: 10px 15px;
  border:0;
  color: #333333;
  font-size: 14px;
  margin: 0 23px;
  position: relative;
  line-height: 18px;
  border-bottom: 3px solid #ffffff;
  transition: all .3s;
    -webkit-transition: all .3s;
  font-weight: 300;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}
button:hover{
	border-bottom: 3px solid #003a86;
}
button:before{
	    position: absolute;
    content: url(../images/line-blue.png);
    right: -23px;
    top: 5px;
}
button:last-child:before{
	content: url();
}
button.active{
  background: #003a86;
  color: #ffffff;
  border-bottom: 3px solid #003a86;
}

button:focus{
  outline: 0 none;
}
button + label{
  margin-left: 1em;
}
.container{
  text-align: justify;
  font-size: 0.1px;
  background: #ffffff;
  
  -webkit-backface-visibility: hidden;
}

.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .mix,
.container .gap{

  display: inline-block;
  width: 49%;
}
.container-imagen{
  min-height: 200px;
   background-color: #003a86;
    background-size: cover;
  background-position: center;
}
.container .mix{
  text-align: left;
  background-color: #003a86;
  margin-bottom: 2%;
  display: none;
}
.text-contenedor{
	padding: 23px 10px 10px 10px;
	background-color: #efefef;
}
.text-contenedor p{
	line-height: 18px;
	font-size: 14px;
	color: #333333;
	padding-bottom: 10px;
}
.text-contenedor b{
	display: block;
	line-height: 18px;
	font-size: 14px;
	color: #333333;
}

.container .mix:hover {
    -webkit-box-shadow: 4px 4px 5px 0px rgba(143,143,143,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(143,143,143,1);
    box-shadow: 4px 4px 5px 0px rgba(143,143,143,1);
}
@media all and (min-width: 420px){
  .container .mix,
  .container .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  .container .mix,
  .container .gap{
    width: 23.5%;
  }
}
@media screen and (max-width: 500px){
.container-imagen{
  min-height: 100px;
   background-color: #003a86;
    background-size: cover;
  background-position: center;
}
.rentals-sec-1 h1{
	font-size: 50px;
   line-height: 54px;
}
button {
    margin: 0 0px;
    margin-bottom: 5px;
}
button:before{
	content: url();
}
.rentals-sec-2 {
    padding: 50px 0 60px 0;}
}