<html>
    <body>
        <h3>Move Out Request | Web Form sending by {{name|upper}} </h3>
        <br />
        <p>Name: {{name}}</p>
        <p>Adress: {{adress}}</p>
        <p>Unit number: {{unit_number}}</p>
        <p>Phone number: {{phone_number}}</p>
        <p>Email: {{email}}</p>
        <p>Request Move Out Date: {{request_move_out_date}}</p>
        <p>City: {{city}} </p>
        <p>State : {%if state == "2" %}Texas {% else%}California {%endif %}</p>
        <p>ZIP CODE: {{zip_code}}</p>
    </body>
</html>