{% extends "base/base.html" %}
{% block title %}Contact | The Enterprise Company{% endblock title %}
{% load staticfiles %}
{% block morestyles %}
    <link rel="stylesheet" href="{% static "css/styles-contact.css" %}">
    <style type="text/css">
        .error{
            color: red;
            font-weight: bold;
        }
    </style>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock morestyles %}
{% block content %}
    <header>
        <a class="responsive-menu">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <a href="/" class="logo"><img src="{% static "images/logo.png" %}" alt=""></a>
        <nav>
            <ul class="menu-principal">
                <li><a href="/">Home</a></li>

                <li><a href="rentals">Rentals</a></li>
                <li id="resident">
                    <a id="resident-link" href="tenants">Tenant resources</a>
                    <ul class="menu-secundario">
                        <li><a href="forms">Forms</a></li>
                        <li><a href="faq">FAQ</a></li>
                        <li><a href="/contact">Maintenance</a></li>
                      	<li><a href="/contact">Move Out</a></li>
                    </ul>
                </li>
                <li><a class="active" href="contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="maintenance-sec-1" style="background-image: url({% static "images/contact.jpg" %})">
            <h1>Contact<br><b>us</b></h1>
        </section>
        <section class="maintenance-sec-3">
            <form action="/contact" method="POST" style="display: flex">

                <div class="formulario-mid">
                    <div class="title-rent-head">
                     <p><b>Contact us</b></p>
                    </div>
                    <p class="p-mid">Have a question, planning on moving out or have a maintenance request? You can call us directly at (510) 444 0876 or alternatively, you can email us at theenterprisecom@gmail.com.<br>
                    </p>

                </div>
            </form>
        </section>
    </main>
{% endblock content %}
{% block morescripts %}
    <script language='javascript' type='text/javascript'>
        $(document).ready(function () {
            var firstInput = $('form').find('input[type=text],input[type=password],input[type=radio],input[type=checkbox],textarea,select').filter(':visible:first');
            if (firstInput != null) {
                firstInput.focus();
            }
        });
        {% for field in form %}

        {%if field.errors %}
            {% if field.label %}
                alert('{{field.label}}: '+'{{ field.errors }}');
            {% else %}
                alert('{{field.name}}: '+'{{ field.errors }}');
            {% endif %}
            console.log('{{ field.errors }}');
        {%endif%}
        {% endfor %}
    </script>
{% endblock morescripts %}
